    <div class="rest_menu_cont">
        <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
        <h4>Farmhouse Pizza</h4>
        <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
        <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
        <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
    </div>
    <div class="rest_menu_img">
        <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
        <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
        <p>Customisable</p>
    </div>