<div class="modal-window">
    <mat-dialog-content>
       <div class="gst_container">
            <ul>
                <li>
                    <div class="delv_cont">
                        <p class="price_text">Base fee for 3.5 km</p>
                        <p>₹ 31 per order plus ₹ 2 per km</p>
                    </div>
                    <p class="price_text">₹ 38</p>
                </li>
                <li>
                    <div class="delv_cont">
                        <p class="price_text">Small order fee</p>
                        <p>reduce for orders above 150</p>
                    </div>
                    <p class="price_text"><span class="strike_text">₹ 10</span>₹ 0</p>
                </li>
                <li class="border_top">
                    <div class="delv_cont">
                        <p class="price_text">Discount on Delivery fee</p>
                    </div>
                    <p class="price_text">- ₹ 38</p>
                </li>
            </ul>
        </div>
    </mat-dialog-content>
</div>