<div class="restaurants_listing_wrap">
    <div class="container">
        <div class="restaurants_listing_top_bar">
            <div class="address_left_top">
                <button class="address_btn" (click)="openAddress()"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/address_icon.svg" alt="Address Icon" /> Address <mat-icon>arrow_drop_down</mat-icon></button>
            </div>
            <app-search-bar [class]="'search_right_top'"></app-search-bar>
        </div>
        <div class="restaurants_listing_main">
            <div class="restaurants_head_wrapper">
                <h2 class="restaurants_head">ALL RESTAURANTS</h2>
            </div>
            <app-restaurant-filter [class]="'restaurants_filter_wrap'"></app-restaurant-filter>
            <div class="restaurants_items_wrapper">
                <h3 class="restaurants_items_head">100 restaurants to explore</h3>
                <ul>
                    <li *ngFor="let restaurant of restaurants" class="restaurants_item">
                        <app-restaurant [restaurants_item]="restaurant" class="restaurants_item_inner"></app-restaurant>
                      </li>
                </ul>
            </div>
        </div>
    </div>
</div>