<div class="restaurants_detail_wrap">
    <div class="restaurants_inner_wrap">
        <div class="container">
            <button class="close_btn" (click)="backtopage()" mat-button mat-dialog-close><mat-icon>keyboard_arrow_left</mat-icon></button> 
            <app-restaurant-info></app-restaurant-info>
        </div>
    </div>
    <div class="container">
        <div class="rest_menu_wrap">
            <div class="menu_head_wrap"><h3 class="menu_head">MENU</h3></div>
            <app-search-bar [class]="'search_popup_top'"></app-search-bar>
            <div class="menu_tabs">
                <button class="menu_tab_btn"> <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/veg.svg" alt="Icon" /> Veg </button>
                <button class="menu_tab_btn"> <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/nonveg.svg" alt="Icon" /> Nonveg </button>
                <button class="menu_tab_btn"> <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/bestseller.svg" alt="Icon" /> Bestseller </button>
            </div>
            <app-all-menu></app-all-menu>

            <div class="menu_opts">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    Menu <mat-icon>restaurant_menu</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" class="menu_opts_item">
                    <button mat-menu-item class="active">
                      <span>Recommended</span> <span class="count">10</span>
                    </button>
                    <button mat-menu-item>
                      <span>Sushi</span> <span class="count">6</span>
                    </button>
                    <button mat-menu-item>
                      <span>Dumpling</span> <span class="count">12</span>
                    </button>
                    <button mat-menu-item>
                      <span>Neopolitan Pizzas</span> <span class="count">8</span>
                    </button>
                    <button mat-menu-item>
                      <span>Continental</span> <span class="count">7</span>
                    </button>
                    <button mat-menu-item>
                      <span>Chefs Special</span> <span class="count">15</span>
                    </button>
                    <button mat-menu-item>
                      <span>Soups</span> <span class="count">8</span>
                    </button>
                    <button mat-menu-item>
                      <span>Salads</span> <span class="count">6</span>
                    </button>
                  </mat-menu>                  
            </div>

            <div class="view_cart_wrap">
                <div class="left_view_cart_wrap">
                    <p class="cart_count">1 item | 179</p>
                    <p class="cart_note">Extra charges may apply</p>
                </div>        
                <div class="right_view_cart_wrap">
                    <a class="right_view_cart_link" mat-button (click)="redirectToCart()">View Cart</a>
                </div>   
            </div>
        </div>
    </div>
</div>
