<div class="restaurants_detail_wrap">
    <div class="restaurants_inner_wrap">
        <div class="container">
            <button class="close_btn" (click)="backtopage()" mat-button mat-dialog-close><mat-icon>keyboard_arrow_left</mat-icon></button> 
            <div class="rest_det_wrap">
                <div class="rest_logo">
                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/Dominos_pizza_logo.svg" alt="Restaurants logo"/>
                </div>
                <div class="rest_info">
                    <h2>Domino’s Pizza</h2>
                    <p class="restaurants_rating"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3 <span>• 500 for two</span></p>
                    <p class="rest_spl">Pizzas, Italian</p>
                    <div class="rest_det_wrap">
                        <p><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/clock_icon.svg" alt="Clock Icon"/> 25-30 min • 2 km</p>
                        <p class="rest_det_add">JM Road</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="rest_menu_wrap">
            <div class="menu_head_wrap"><h3 class="menu_head">MENU</h3></div>
            <div class="search_popup_top">
                <form class="searchBox">
                    <mat-form-field class="search-field-textbox" appearance="outline"  floatLabel="always">
                        <input matInput placeholder="Search for area...">
                        <mat-icon matPrefix>search</mat-icon>
                    </mat-form-field>
                </form>
            </div>
            <div class="menu_tabs">
                <button class="menu_tab_btn"> <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/veg.svg" alt="Icon" /> Veg </button>
                <button class="menu_tab_btn"> <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/nonveg.svg" alt="Icon" /> Nonveg </button>
                <button class="menu_tab_btn"> <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/bestseller.svg" alt="Icon" /> Bestseller </button>
            </div>
            <mat-accordion [multi]="false">
                <div class="menu_listing_wrap">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Recommended  
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="rest_menu_list_wrap">
                        <div class="rest_menu_list_item">
                            <div class="rest_menu_cont">
                                <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                <h4>Farmhouse Pizza</h4>
                                <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                            </div>
                            <div class="rest_menu_img">
                                <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                <p>Customisable</p>
                            </div>
                        </div>
                        <div class="rest_menu_list_item">
                            <div class="rest_menu_cont">
                                <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                <h4>Farmhouse Pizza</h4>
                                <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                            </div>
                            <div class="rest_menu_img">
                                <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                <p>Customisable</p>
                            </div>
                        </div>
                        <div class="rest_menu_list_item">
                            <div class="rest_menu_cont">
                                <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                <h4>Farmhouse Pizza</h4>
                                <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                            </div>
                            <div class="rest_menu_img">
                                <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                <p>Customisable</p>
                            </div>
                        </div>
                        <div class="rest_menu_list_item">
                            <div class="rest_menu_cont">
                                <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                <h4>Farmhouse Pizza</h4>
                                <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                            </div>
                            <div class="rest_menu_img">
                                <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                <p>Customisable</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <div class="pannel_inner">
                    <p class="explansion_head">Sushi</p>
                    <mat-expansion-panel [expanded]="false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Veg Sushi  
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="rest_menu_list_wrap">
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Non veg Sushi  
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="rest_menu_list_wrap">
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Seafood Sushi  
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="rest_menu_list_wrap">
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="pannel_inner">
                    <p class="explansion_head">Dumplings</p>
                    <mat-expansion-panel [expanded]="false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Veg Dumplings  
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="rest_menu_list_wrap">
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Non veg Dumplings  
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="rest_menu_list_wrap">
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="pannel_inner">
                    <p class="explansion_head">Breakfast</p>
                    <mat-expansion-panel [expanded]="false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            All Day Breakfast
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="rest_menu_list_wrap">
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            All Day Omelets
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="rest_menu_list_wrap">
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                            <div class="rest_menu_list_item">
                                <div class="rest_menu_cont">
                                    <p class="rest_menu_status"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" /> Bestseller</p>
                                    <h4>Farmhouse Pizza</h4>
                                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                                    <p class="menu_desc"  appTruncateText>Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                                    <button class="recp_btn_menu" mat-button (click)="openRecipeDet()">RECIPE <mat-icon>keyboard_arrow_down</mat-icon></button>
                                </div>
                                <div class="rest_menu_img">
                                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Pizza Image" />
                                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add <mat-icon>add</mat-icon></button>
                                    <p>Customisable</p>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
                </div>
            </mat-accordion>

            <div class="menu_opts">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    Menu <mat-icon>restaurant_menu</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" class="menu_opts_item">
                    <button mat-menu-item class="active">
                      <span>Recommended</span> <span class="count">10</span>
                    </button>
                    <button mat-menu-item>
                      <span>Sushi</span> <span class="count">6</span>
                    </button>
                    <button mat-menu-item>
                      <span>Dumpling</span> <span class="count">12</span>
                    </button>
                    <button mat-menu-item>
                      <span>Neopolitan Pizzas</span> <span class="count">8</span>
                    </button>
                    <button mat-menu-item>
                      <span>Continental</span> <span class="count">7</span>
                    </button>
                    <button mat-menu-item>
                      <span>Chefs Special</span> <span class="count">15</span>
                    </button>
                    <button mat-menu-item>
                      <span>Soups</span> <span class="count">8</span>
                    </button>
                    <button mat-menu-item>
                      <span>Salads</span> <span class="count">6</span>
                    </button>
                  </mat-menu>                  
            </div>

            <div class="view_cart_wrap">
                <div class="left_view_cart_wrap">
                    <p class="cart_count">1 item | 179</p>
                    <p class="cart_note">Extra charges may apply</p>
                </div>        
                <div class="right_view_cart_wrap">
                    <a class="right_view_cart_link" mat-button (click)="redirectToCart()">View Cart</a>
                </div>   
            </div>
        </div>
    </div>
</div>
