<div class="cart_foot_btn_wrap">
    <div class="container">
        <div class="cart_foot_btn_left">
            <p class="cart_foot_text_sm"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/Google_Pay_Logo.svg.png" alt="" /> PAY USING</p>
            <p class="cart_foot_text_lg">Google Pay UPI</p>
        </div>
        <div class="cart_foot_btn_right">
            <div class="cart_foot_btn_right_left">
                <p class="price_bold">₹ 574.12</p>
                <p>TOTAL</p>
            </div>
            <div class="cart_foot_btn_right_text">
                Place Order <mat-icon>arrow_right</mat-icon>
            </div>
        </div>
    </div>
</div>