
    <ul>
        <li>
            <button class="filter_btn_item">Filter <mat-icon>tune</mat-icon></button>
        </li>
        <li>
            <button class="filter_btn_item">Sort by <mat-icon>keyboard_arrow_down</mat-icon></button>
        </li>
        <li>
            <button class="filter_btn_item">Nearest</button>
        </li>
        <li>
            <button class="filter_btn_item">Ratings 4.0+</button>
        </li>
        <li>
            <button class="filter_btn_item">Pure Veg</button>
        </li>
        <li>
            <button class="filter_btn_item">Favourites</button>
        </li>
        <li>
            <button class="filter_btn_item">Fast Delivery</button>
        </li>
    </ul>