<div class="modal-window">
    <div class="popup_head">
        <div class="popup_actions">
        <button class="close_btn" mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
      </div>
    </div>
    <mat-dialog-content>
        <div class="popup_inner">
            <div class="more-details-wrapper">
                <div class="more-details-img-wrapper">
                    <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/rest_menu.png" alt="Image" />
                </div>
                <div class="more-details-cont-wrapper">
                    <h4><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/red_icon.svg" class="menu-icon"> Farmhouse Pizza</h4>
                    <p class="restaurants_rating">₹ 269 • <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3</p>
                    <p class="rec_detail">Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese Classic delight with 100% real mozzarella Classic delight with 100% real mozzarella cheese</p>
                    <button class="add_btn_menu" (click)="openAddItem()" mat-button>Add </button>
                    <p class="cust_text">Customisable</p>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</div>
