<div class="modal-window">
    <mat-dialog-content>
        <h3>GST and Restaurant Charges</h3>
        <div class="gst_container">
            <ul class="border_top_bot">
                <li>
                    <p>GST on item total</p>
                    <p class="price_text">₹ 9.80</p>
                </li>
                <li>
                    <p>GST on item total</p>
                    <p class="price_text">₹ 9.80</p>
                </li>
                <li>
                    <p>Restaurant packaging charges</p>
                    <p class="price_text">₹ 19.60</p>
                </li>
                <li>
                    <p>GST on restaurant packaging charges</p>
                    <p class="price_text">₹ 0.98</p>
                </li>
                <li>
                    <p>GST on platform fee</p>
                    <p class="price_text">₹ 0.72</p>
                </li>
            </ul>
            <ul>
                <li>
                    <p class="price_text">Total</p>
                    <p class="price_text">₹ 31.10</p>
                </li>
            </ul>
        </div>
        <button mat-dialog-close>Okay</button>
    </mat-dialog-content>
</div>

