<div class="cart_detail_page">
    <div class="cart_top_page">
        <div class="container">
            <div class="cart_top_head">
                <button class="close_btn" (click)="backtopage()" mat-button mat-dialog-close><mat-icon>keyboard_arrow_left</mat-icon></button> 
                <h3 class="resto_head">Domino’s Pizza</h3>
            </div>
            <div class="cart_bot_head">
                <p><mat-icon> location_on</mat-icon> 30 mins to Riya Singh 5th Floor, Ghodke Classic Riya Singh 5th Floor, Ghodke Classic</p>
                <button (click)="openSaveAddDialog()" class="close_btn" mat-button mat-dialog-close><mat-icon>keyboard_arrow_down</mat-icon></button> 
            </div>
        </div>
    </div>
    <div class="container">
        <app-ordered-menu></app-ordered-menu>
        <app-order-total></app-order-total>
        <div class="cart_box_content">
            <h3>CANCELLATION POLICY</h3>
            <p>Help us reduce food waste by avoiding cancellations after placing your order. A 100% cancellatuion fee will be applied.</p>
        </div>
    </div>
    <app-order-payment></app-order-payment>
</div>