<div class="modal-window">
    <div class="popup_head">
        <div class="popup_actions">
            <h3 class="popup_heading">Choose  a delivery address</h3>
            <button class="close_btn" mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
        </div>
    </div>
    <mat-dialog-content>
        <div class="popup_inner">
            <ul class="loc_box_item_list">
                <li class="loc_box_list_item">
                    <div class="loc_box_list_icon">
                        <mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"> location_on</mat-icon>
                    </div>
                    <div class="loc_box_list_cont">
                        <p class="box_item_current_loc">Home</p>
                        <div class="icon_grp_right">
                            <button class="icon-reverce"><mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">reply</mat-icon>
                            </button>
                        </div>
                        <p class="box_item_address">Flat no: A-10, 5th floor Ghodke Classic, Prabhat road Pune 411004</p>
                    </div>
                </li>
                <li class="loc_box_list_item">
                    <div class="loc_box_list_icon">
                        <mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"> location_on</mat-icon>
                    </div>
                    <div class="loc_box_list_cont">
                        <p class="box_item_current_loc">Home</p>
                        <div class="icon_grp_right">
                            <button class="icon-reverce"><mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">reply</mat-icon>
                            </button>
                        </div>
                        <p class="box_item_address">Flat no: A-10, 5th floor Ghodke Classic, Prabhat road Pune 411004</p>
                    </div>
                </li>
                <li class="loc_box_list_item">
                    <div class="loc_box_list_icon">
                        <mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"> location_on</mat-icon>
                    </div>
                    <div class="loc_box_list_cont">
                        <p class="box_item_current_loc">Home</p>
                        <div class="icon_grp_right">
                            <button class="icon-reverce"><mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">reply</mat-icon>
                            </button>
                        </div>
                        <p class="box_item_address">Flat no: A-10, 5th floor Ghodke Classic, Prabhat road Pune 411004</p>
                    </div>
                </li>
                <li class="loc_box_list_item">
                    <div class="loc_box_list_icon">
                        <mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"> location_on</mat-icon>
                    </div>
                    <div class="loc_box_list_cont">
                        <p class="box_item_current_loc">Home</p>
                        <div class="icon_grp_right">
                            <button class="icon-reverce"><mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">reply</mat-icon>
                            </button>
                        </div>
                        <p class="box_item_address">Flat no: A-10, 5th floor Ghodke Classic, Prabhat road Pune 411004</p>
                    </div>
                </li>
                <li class="loc_box_list_item">
                    <div class="loc_box_list_icon">
                        <mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"> location_on</mat-icon>
                    </div>
                    <div class="loc_box_list_cont">
                        <p class="box_item_current_loc">Home</p>
                        <div class="icon_grp_right">
                            <button class="icon-reverce"><mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">reply</mat-icon>
                            </button>
                        </div>
                        <p class="box_item_address">Flat no: A-10, 5th floor Ghodke Classic, Prabhat road Pune 411004</p>
                    </div>
                </li>
                <li class="loc_box_list_item">
                    <div class="loc_box_list_icon">
                        <mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"> location_on</mat-icon>
                    </div>
                    <div class="loc_box_list_cont">
                        <p class="box_item_current_loc">Home</p>
                        <div class="icon_grp_right">
                            <button class="icon-reverce"><mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">reply</mat-icon>
                            </button>
                        </div>
                        <p class="box_item_address">Flat no: A-10, 5th floor Ghodke Classic, Prabhat road Pune 411004</p>
                    </div>
                </li>
            </ul>
            <div class="add_address_foot">
                <button mat-button mat-dialog-close><mat-icon>add</mat-icon> Add Address</button>
            </div>
        </div>
    </mat-dialog-content>
</div>
