<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Recommended  
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="rest_menu_list_wrap">
        <app-menu [class]="'rest_menu_list_item'"></app-menu>
        <app-menu [class]="'rest_menu_list_item'"></app-menu>
        <app-menu [class]="'rest_menu_list_item'"></app-menu>
        <app-menu [class]="'rest_menu_list_item'"></app-menu>
    </div>
</mat-expansion-panel>