<div class="rest_det_wrap">
    <div class="rest_logo">
        <img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/Dominos_pizza_logo.svg" alt="Restaurants logo"/>
    </div>
    <div class="rest_info">
        <h2>Domino’s Pizza</h2>
        <p class="restaurants_rating"><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/green_review.svg" alt="Restaurants Image"> 4.3 <span>• 500 for two</span></p>
        <p class="rest_spl">Pizzas, Italian</p>
        <div class="rest_det_wrap">
            <p><img src="https://webdevfolio.com/edreamz_projects/togethring-restaurant/assets/clock_icon.svg" alt="Clock Icon"/> 25-30 min • 2 km</p>
            <p class="rest_det_add">JM Road</p>
        </div>
    </div>
</div>